{% extends 'index.html' %}
{% block content %}
{% load static %}
			<!-- Main -->
				<div id="main" class="wrapper style2">
					<div class="title">Pembuatan KTM</div>
					<div class="container">

						<!-- Content -->
							<div id="content">
								<article class="box post">
									<header class="style1">
										<h2>Pembuatan Kartu Tanda Mahasiswa</h2>
										<p>Isikan sesuai dengan data diri anda</p>
									</header>
									<a href="" class="image featured">
										<img src="{% static 'images/pic01.jpg' %}" alt="" />
									</a>
									{% for message in messages %}
										{% if message %}
											<div class="alert alert-success">{{ message }}</div>
										{% endif %}
									{% endfor %}
									<form action="#" method="post">
										{% csrf_token %}
										{{form.as_p}}
										<div class="col-6" align="center"><button id="form" type="submit" class="style3">Submit</button></div>
									</form>
								</article>
							</div>

					</div>
				</div>
{% endblock %}